body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2, h3 {
    margin: 0 0 10px;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.income-expense {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.money {
    font-size: 20px;
    margin-top: 0;
}

.plus {
    color: #2ecc71;
}

.minus {
    color: #c0392b;
}

.transaction-history {
    margin-bottom: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid;
}

.list li.plus {
    border-color: #2ecc71;
}

.list li.minus {
    border-color: #c0392b;
}

.add-transaction {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
